<header class="site-header">
    <nav>
        <a class="site-title" href="<%- url_for('/') %>">
            <span class="highlight">Dean!</span>
        </a>
        <div class="nav-links">
            <a class="nav-link" href="<%- url_for('/') %>">About</a>
        </div>
    </nav>
</header>
